body{
    margin: 0px;
    padding: 0px;
    background-color: rgb(153, 22, 22);
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}


#icon{
    width: 62px;
    height: 62px;
    padding-right: 15px;
}

#navbar{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 5px;
    background-color: rgb(207, 17, 17);
    color: white;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

#links{
    padding-right: 10px;
}